body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
